@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 90px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.header-icon {
  font-size: 30px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-featurs {
  display: flex;

  gap: 50px;
  font-size: 20px;
}
.header-featurs span {
  cursor: pointer;
}

.header-featurs span:hover {
  border-bottom: 1px solid #000;
}

.dowload-button {
  align-items: center;
  justify-content: center;
}

.dowload-app {
  padding: 10px 20px;
  background-color: #49ac92;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.dowload-app:hover {
  background-color: #367c76;
}

.function-button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #bdfaee;
  padding: 10px;
  color: #bdfaee;
  font-size: 20px;
  border-radius: 8px;
}

.function-span {
  color: #bdfaee;
  font-size: 20px;
}

.function-button button {
  display: flex;
  border: none;
  background-color: #ffffff;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}

.function-button i {
  color: #000;
  cursor: pointer;
}

.main-container {
  display: flex;

  justify-content: space-around;
  padding: 0px 250px;
}

.container {
  display: flex;
  padding: 0px 40px;
  gap: 350px;
}

.main-info {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.main-info span {
  font-size: 42px;
  font-weight: 900;
  padding: 50px 0px;
}

.main-info-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-info-texts p {
  font-size: 20px;
  color: #49ac92;
}

.main-button {
  padding: 30px 0px;
}

.main-button button {
  background-color: #49ac92;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}

.main-button button:hover {
  background-color: #367c76;
}

.table-container {
  width: 100%;
  padding: 50px 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-four {
  display: flex;
  gap: 20px;
}

.table-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-up {
  display: flex;
  flex-direction: column;
  border: 1px solid #a8f6e7;
  width: 600px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.left-up-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 50px;
}

.left-up span {
  font-size: 32px;
  font-weight: 900;
}

.left-up p {
  color: #49ac92;
  font-size: 20px;
}

.left-down {
  display: flex;

  border: 1px solid #a8f6e7;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 40px;
}

.left-down-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 50px;
}

.left-down span {
  font-size: 32px;
  font-weight: 900;
}

.left-down p {
  color: #49ac92;
  font-size: 20px;
}

.table-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-up {
  display: flex;
  padding: 10px 20px;

  border: 1px solid #a8f6e7;
  width: 600px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}

.right-up-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
}

.right-up-text span {
  font-size: 32px;
  font-weight: 900;
}

.right-up-text p {
  color: #49ac92;
  font-size: 20px;
}

.right-down {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 280px;
  border: 1px solid #a8f6e7;
  width: 600px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}

.right-down-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
}

.right-down-text span {
  font-size: 32px;
  font-weight: 900;
}

.right-down-text p {
  color: #49ac92;
  font-size: 20px;
}

.table-end {
  display: flex;
  align-items: center;
  border: 1px solid #a8f6e7;
  padding: 10px 40px;
  border-radius: 40px;
  width: 1230px;
  gap: 100px;
}

.table-end-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-end-text span {
  font-size: 32px;
  font-weight: 900;
}

.table-end-text p {
  color: #49ac92;
  font-size: 20px;
  width: 600px;
}

.table-text {
  padding: 50px 0px;
}

.table-text span {
  font-size: 14px;
  color: #367b76;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  background-color: #93f0de;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;

  gap: 10px;
}

.app-title {
  padding: 50px;
}

.app-title span {
  font-size: 30px;
  font-weight: 900;
}

.app-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 16px;
}

.app-qr i {
  font-size: 20px;
}

.app-qr-text {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  font-weight: 900;
  font-size: 16px;
}

.app-img {
  padding-top: 40px;
  align-items: flex-end;
}

.app-qr img {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 20px;
}

.graphic-container {
  display: flex;
  flex-direction: column;
  padding: 50px 90px;
  width: 100%;
  border-bottom: 1px solid #93f0de;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  align-items: center;
  gap: 30px;
}

table {
  padding: 20px 20px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #93f0de;
  text-align: left;
  padding: 8px;
}

.graphic-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #49ac92;
  padding: 0px 50px;
  text-align: center;
  gap: 20px;
}

.graphic-text button {
  background-color: #49ac92;
  padding: 15px 10px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
}

.graphic-text button:hover {
  background-color: #367c76;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 90px;
}

.info-text {
  display: flex;
  align-items: center;

  gap: 50px;
}

.info-text-explanation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-text-explanation span {
  font-size: 36px;
  color: #010101;
}

.info-text-explanation p {
  color: #367c76;
  font-size: 16px;
}

.info-contact {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  gap: 20px;
}

.info-contact-title span {
  font-size: 36px;
  color: #010101;
}

.info-contact-explanation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-contact-explanation p {
  font-size: 16px;
  color: #367c76;
}

.info-contact-explanation span {
  font-size: 20px;
  color: #367c76;
  font-weight: 700;
}

.services-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 50px 90px;
  border-top: 1px solid #93f0de;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  gap: 90px;
}

.services-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 200px;
}

.services-info {
  display: flex;
  gap: 200px;
  font-size: 16px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  align-items: flex-start;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  align-items: flex-start;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  align-items: flex-start;
}

.services-info span {
  font-weight: 900;
}

.services-info p {
  color: #367c76;
}

.services-end-text p {
  display: flex;

  width: 100%;
  align-items: center;
  color: #367c76;
}
